[submodule "u-boot-xlnx"]
	path = u-boot-xlnx
	url = https://github.com/analogdevicesinc/u-boot-xlnx.git
	branch = kmu/main
[submodule "buildroot"]
	path = buildroot
	url = git@github.com:ADI-FW-kmu/u-boot-xlnx.git
	branch = kmu/main
[submodule "linux"]
	path = linux
	url = https://github.com/analogdevicesinc/linux
	branch = kmu/main
[submodule "hdl"]
	path = hdl
	url = https://github.com/analogdevicesinc/hdl
	branch = kmu/main
